// padding
.pt-1{ padding-top: 1rem;}
.pr-1{ padding-right: 1rem;}
.pb-1{ padding-bottom: 1rem;}
.pl-1{ padding-left: 1rem;}

.pt-2{ padding-top: 2rem;}
.pr-2{ padding-right: 2rem;}
.pb-2{ padding-bottom: 2rem;}
.pl-2{ padding-left: 2rem;}

.pt-3{ padding-top: 3rem;}
.pr-3{ padding-right: 3rem;}
.pb-3{ padding-bottom: 3rem;}
.pl-3{ padding-left: 3rem;}
