<template>
    <div class="favorites">

    <div class="box-search">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input 
        type="text" 
        v-model="search" 
        @keyup.enter="searchFavorites"
        class="form-control-search" 
        placeholder="Search for a favorites">
    </div>

    <p class="color-p pt-3 pb-2 pl-2">
      Lista de favoritos
    </p>
      <!-- Lista de las peliculas. -->
      <section>
        <article v-for="favorite in favorites" v-bind:key="favorite.id">
          <div class="box-image">
            <!-- aca va la imagen -->
              <img 
                v-if="favorite.poster_path"
                class="poster"
                :src="`https://image.tmdb.org/t/p/w500${favorite.poster_path}`" 
                :alt="favorite.title">

              <span class="sin_foto" v-else>
                <!-- sin foto -->
              </span>
            </div>
            <div class="box-text pl-3 pt-1 pb-1 pr-1">

            <h2 class="titulo"> 
                {{ favorite.name || favorite.original_title }}  
                <span>{{ favorite.vote_average }}</span>
            </h2>

            <h5 class="subtitulo">
                <span class="tranning">{{ favorite.first_air_date || favorite.release_date }} | &nbsp;</span>
                 <span v-if="listGendersMovies.length > 0 && listGendersTv.length > 0">
                  <span v-for="(item, index) in getGenders(favorite.genre_ids, favorite.name)" :key="index">{{ item }}</span>
                </span>
            </h5>

            <p class="description">
                {{ ( favorite.overview.length >= 150 ) ? favorite.overview.substr(0, 150) + '...' : favorite.overview }}
            </p>

            <div class="box-trailer">
              <button @click="showModal(favorite.id, favorite.name)">Ver Trailer</button>
              <span @click="removeFavorites(favorite.id, favorite.name)">
                <i class="fa fa-heart"></i>
              </span>
            </div>
          </div>

          <modal :name="'info-modal-'+favorite.id" height="auto" :scrollable="true" :width="580">
            <modalComponent :dataId="favorite.id"></modalComponent>
          </modal>
        </article>
      </section>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import modalComponent from '@/components/modal.vue'

export default {
    components: {
      modalComponent
    },
    computed: {
    ...mapState(['listGendersMovies', 'listGendersTv']),
    },
    mounted(){
      this.getDataFavorites();
      this.getListGendersContentMovie();
      this.getListGendersContentTv();
    },
    data() {
      return {
        favorites: [],
        search: '',
        anhio: new Date().getFullYear(),
        generoId: 0,
        api_key: process.env.VUE_APP_API_KEY,
        dominio: process.env.VUE_APP_DOMINIO
      }
    },
    methods: {
      ...mapActions(['openModal', 'getListGendersContentMovie', 'getListGendersContentTv']),
      showModal(favoritesId, name) {
        const typeData = (name == undefined) ? 'movie' : 'tv'
        const params = {type: typeData, id:favoritesId}
        this.openModal(params)
        this.$modal.show(`info-modal-${favoritesId}`);
      },
      getGenders(data, type){
        const exit = Boolean(type)
        let genders = [];
        if ( !exit ) {
          genders = data.map( (item) =>{
            const result = this.listGendersMovies.find((gen)=> gen.id === item )
            return result.name
          });
        } else {
          genders = data.map( (item) =>{
            const result = this.listGendersTv.find((gen)=> gen.id === item )
            return result.name
          });
        }
        return genders;
      },
      getDataFavorites(){
        this.favorites = [];
        for (let x=0; x<localStorage.length; x++)  {  
            const keyStora = localStorage.key(x);
            if (keyStora !== 'loglevel:webpack-dev-server') {
              this.favorites.push( JSON.parse( localStorage.getItem(keyStora) ) )
            }
        }
      },
      removeFavorites( id, name ){
        const keyStorage = (name == undefined) ? 'movie_'+id : 'tv_'+id
        localStorage.removeItem(keyStorage);
        this.getDataFavorites();
      },
      searchFavorites(){
        this.getDataFavorites();
        if (this.search.length > 0) {
          let data = this.favorites.filter((favorite)=> {
            if ( favorite.name !== undefined && favorite.name.toLowerCase() === this.search.toLowerCase() ) {
              return favorite
            }
            if ( favorite.title !== undefined && favorite.title.toLowerCase() === this.search.toLowerCase() ) {
              return favorite
            }
          });
          this.favorites = data;
        }
      }
    }
    
}
</script>

<style scoped lang="scss">
  article{
    width: 48%;
    height: 252px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.55);
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-flex;

      .box-image{
      width: 32%;

      .poster{
        max-width: 100%;
        height: 100%;
      }
      
      .poster-path{
        display: block;
        width: 100%;
        height:100%;
        background: #f5f4f4;
      }
    }

    .box-text{
      width: 70%;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .titulo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: gray;
        font-weight: 400;
        font-size: 18px;

          span{
            font-size: 19px;
          }
      }

      .subtitulo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #1a1a1a;
        font-weight: 500;
        font-size: 13px;
      }

      .description{
        color: gray;
        font-weight: 500;
        font-size: 15px;
        padding-bottom: 25px;
        margin: 0px;
      }

      .box-trailer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: gray;
        font-weight: 500;
        font-size: 15px;

        button {
          border: 1px solid #1FA8CB;
          border-radius: 3px;
          color: #1FA8CB;
          font-size: 14px;
          padding: 5px 18px;
          font-weight: 400
        }
      }
    }
  }    
</style>