<template>
  <div class="home">
    <div class="box-search">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input 
        type="text" 
        v-model="params.search" 
        @keyup.enter="searchMovie(params)"
        class="form-control-search" 
        placeholder="Search for a movies, series and videos">
    </div>

    <p class="color-p pt-3 pb-2 pl-2">
      Descubra nuevas películas y programas de televisión
    </p>

    <!-- box de seleccion -->
    <div class="content-select pb-3 pl-2">
      <div class="box-select anhio pr-3"> 
        <label for="anho">Año</label>
        <select name="anho" id="anho" v-model.number="params.year" @change="searchYearGenders(params)" class="form-control">
          <option v-for="aniho in listYear" :key="aniho" :value="aniho">{{ aniho }}</option>
        </select>
      </div>

      <div class="box-select genero"> 
        <label for="genero">Género</label>
        <select 
          name="genero" 
          id="genero" 
          v-model="params.gendersId" 
          @change="searchYearGenders(params)" 
          class="form-control">
          <option value="">Filtar por</option>
          <option v-for="ender in listGenders" v-bind:key="ender.id" :value="ender.id">{{ ender.name }}</option>
        </select>
      </div>
    </div>
   
    <!-- Lista de las peliculas. -->
    <section>
      <contentCard v-for="(dataMovie, k) in listData.results" :key="k" :contentData="dataMovie" :typeData="params.type" :listGendersContent="listGenders"></contentCard>
    </section>

  </div>
</template>

<script>
// @ is an alias to /src
import { mapState, mapMutations, mapActions } from 'vuex';
import contentCard from '@/components/contentCard.vue';

export default {
  name: 'home',
  components: {
    contentCard
  },
  computed: {
    ...mapState(['listData', 'listGenders']),
  },
  beforeMount(){
    this.getData(this.params);
    this.getListGenders(this.params);
    this.getListYears();
  },
  data() {
    return {
      listYear: [],
      params: {
        type: 'movie',
        search: '',
        id: 0,
        gendersId: 0,
        year: new Date().getFullYear()
      }
    }
  },
  methods:{
    ...mapActions(['getData', 'searchMovie', 'getListGenders', 'searchYearGenders']),
    getListYears(){
      let d = new Date();
      let n = d.getFullYear();
      for(let i = n; i >= 1900; i--) {
        this.listYear.push(i);  
      }
    }
  }
}
</script>

<style lang="scss">
  .content-select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    
    .box-select{
      font-family: Arial, Helvetica, sans-serif;
      color: gray;

        label{
          display: block;
          margin-bottom: 15px;
        }

        .form-control{
          width: 100%;
          font-size: 15px;
          color: gray;
          background-color: transparent;
          border: 1px solid gray;
          padding: 15px;
        }
    }
    .box-select.anhio{
      width: 25%;
    }
    .box-select.genero{
      width: 50%;
    }
  }

  .box-search{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: #b8b3b3;
    background: #ebf5fa;
    padding: 10px 25px;

      .form-control-search{
        width: 100%;
        font-size: 20px;
        background-color: transparent;
        border: none;
        color: #b8b3b3;
      }
      .form-control-search::placeholder{
        color: #b8b3b3;
      }
      
      i{
        margin-right: 15px;
        font-size: 22px;
      }
  }

  .color-p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c9c9c9;
  }
</style>