<template>
  <div>
    <p>
      Agregar a favoritos
      <span @click="addfavoritos()" class="iconoFavorito">
        <i :class="{'fa fa-heart': addFavorites, 'fa fa-heart-o': !addFavorites }" aria-hidden="true"></i>
      </span>
    </p>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object
    },
    typeData: {
      type: String
    }
  },  
  data(){
    return{
      addFavorites: false,
    }
  },
  mounted(){
      this.consultaData();
    },
  methods: {
    consultaData() {
      let guardado = localStorage.getItem(`${this.typeData}_${this.data.id}`);
      this.addFavorites = (guardado !== null) ? true : false;
    },
    addfavoritos(){
      let guardado = localStorage.getItem(`${this.typeData}_${this.data.id}`);
      if (JSON.parse(guardado) === null) {
        localStorage.setItem(`${this.typeData}_${this.data.id}`, JSON.stringify(this.data));
      }else{
        localStorage.removeItem(`${this.typeData}_${this.data.id}`);
      }
      this.consultaData()
    }
  }
}
</script>

<style  lang="scss" scoped>

  p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

      .iconoFavorito{
        cursor: pointer;
        font-size: 20px;
        margin-left: 15px;
      }
  }
</style>