<template>
  <div>
      <article>
        <div class="box-image">
          <!-- aca va la imagen -->
          <img 
            v-if="contentData.poster_path"
            class="poster"
            :src="`https://image.tmdb.org/t/p/w500${contentData.poster_path}`"
            :alt="contentData.title">

            <span class="poster-path" v-else>
              <!-- sin foto -->
            </span>
        </div>
        <div class="box-text pl-3 pt-1 pb-1 pr-1">
          <!-- content1 -->
          <h2 class="titulo pt-1">
            {{ contentData.name || contentData.original_title }}
            <span>{{ contentData.vote_average }}</span>
          </h2>

          <!-- content2 -->
          <h5 class="subtitulo">
            <span class="tranning">{{ contentData.first_air_date || contentData.release_date }} &nbsp; | &nbsp;</span>
            <span v-if="this.listGendersContent.length > 0">
              <span v-for="(item, key) in getGenders(contentData.genre_ids)" :key="key">{{ item.name }}</span>
            </span>
          </h5>

          <!-- content3 -->
          <p class="description">
            {{ ( contentData.overview.length >= 150 ) ? contentData.overview.substr(0, 150) + '...' : contentData.overview }}
          </p>

          <!-- content4 -->
          <div class="box-trailer">
            <button @click="showModal(contentData.id)">Ver Trailer</button>
            <p>
              <buttonFavorites :data="contentData" :typeData="typeData"></buttonFavorites>
            </p>
          </div>
        </div>
      </article>

      <modal :name="'info-modal-'+contentData.id" height="auto" :scrollable="true" :width="580">
        <modalComponent :dataId="contentData.id"></modalComponent>
      </modal>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import buttonFavorites from '@/components/buttomFavorites.vue'
import modalComponent from '@/components/modal.vue'

export default {
  props: {
    contentData: {
      type: Object
    },
    typeData: {
      type: String
    },
    listGendersContent: {
      type: Array
    }
  },
  components: {
    buttonFavorites,
    modalComponent
  },
  computed: {
    ...mapState(['listGenders']),
  },
  methods: {
    ...mapActions(['openModal']),
    showModal(dataId) {
      const params = {type: this.typeData, id:dataId}
      this.openModal(params)
      this.$modal.show(`info-modal-${dataId}`);
    },
    getGenders(data){
      const geners = data.map((item) => {
        const result = this.listGendersContent.find((gen) => gen.id === item )
        return result
      })
      return geners
    }
  }
}
</script>

<style scoped lang="scss">
  article{
    width: 48%;
    height: 252px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.55);
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-flex;

      .box-image{
      width: 32%;

      .poster{
        max-width: 100%;
        height: 100%;
      }
      
      .poster-path{
        display: block;
        width: 100%;
        height:100%;
        background: #f5f4f4;
      }
    }

    .box-text{
      width: 70%;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .titulo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: gray;
        font-weight: 400;
        font-size: 18px;

          span{
            font-size: 19px;
          }
      }

      .subtitulo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #1a1a1a;
        font-weight: 500;
        font-size: 13px;
      }

      .description{
        color: gray;
        font-weight: 500;
        font-size: 15px;
        padding-bottom: 25px;
        margin: 0px;
      }

      .box-trailer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: gray;
        font-weight: 500;
        font-size: 15px;

        button {
          border: 1px solid #1FA8CB;
          border-radius: 3px;
          color: #1FA8CB;
          font-size: 14px;
          padding: 5px 18px;
          font-weight: 400
        }
      }
    }

  }    
</style>