<template>
  <div class="modal">

    <div class="modal-container">
      <span @click="hideModal" class="closeModal">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>

      <iframe
        v-if="linkYoutube"
        width="100%" 
        height="430" 
        :src="'https://www.youtube.com/embed/'+linkYoutube" 
        frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>

      <div class="sin_video" v-else>
        video not found
      </div>
    </div>


  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  props: {
    dataId: {
      type: Number
    }
  },
  computed: {
    ...mapState(['linkYoutube']),
  },
  methods: {
    hideModal() {
      this.$modal.hide(`info-modal-${this.dataId}`);
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .modal-container {
    position: relative;

    .closeModal{
      position: absolute;
      right: 0;
      top: -40px;
      color: #1a1a1a;
      font-size: 26px;
      cursor: pointer;
    }

    .sin_video{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 300px;
    }

  }
</style>
