<template>
  <div id="app" class="container">
    <div id="nav">

      <div class="header-logo">
        <img 
          class="logo-site"
          src="../public/showapp.png" 
          alt="logo">
      </div>

      <ul>
        <li>
          <a>
            <router-link to="/">Movies</router-link>
          </a>
        </li>
        <li>
          <a>
            <router-link to="/series">Series</router-link>
          </a>
        </li>
        <li>
          <a>
            <router-link to="/favorites">Favoritos</router-link>
          </a>
        </li>
      </ul>

    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
   color: #2c3e50;
}

.header-logo{
  width: 250px;
}

#nav {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-site{
  max-width: 100%;
}

ul{
  list-style: none;
  float: right;
  li{
    display: inline-block;
    padding: 10px;

    a {
      font-weight: 500;
      color: #b8b3b3;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      text-decoration: none;

      &.router-link-exact-active {
        color: #1FA8CB;
      }
    }
  }
}

.v--modal-overlay .v--modal-box {
  overflow: visible !important;
}

// padding
.pt-1{ padding-top: 1rem;}
.pr-1{ padding-right: 1rem;}
.pb-1{ padding-bottom: 1rem;}
.pl-1{ padding-left: 1rem;}

.pt-2{ padding-top: 2rem;}
.pr-2{ padding-right: 2rem;}
.pb-2{ padding-bottom: 2rem;}
.pl-2{ padding-left: 2rem;}

.pt-3{ padding-top: 3rem;}
.pr-3{ padding-right: 3rem;}
.pb-3{ padding-bottom: 3rem;}
.pl-3{ padding-left: 3rem;}

</style>
